@import "./breakpoints";

.popup div {
  background-color: rgba($color: rgb(14 17 23), $alpha: 1);
  border-radius: 0.2em;
}

.popupContent {
  span {
    display: none !important;

    @include md {
      display: block !important;
    }
  }

  h1,
  p {
    color: white;
  }

  h1 {
    font-size: 1.3em;
    font-weight: 600;
  }
}
